@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.title {
    display: flex;
    gap: 5px;
    align-items: center;
}

.title p {
    font-size: 12px;
}

.title a {
    color: #fff;
    text-decoration: none;
}


.title a:hover {
    color: #ccc;
    text-decoration: underline;
}

header h1 {
    font-size: 22px; 
    margin-bottom: 10px; 
    letter-spacing: 5px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header label {
    font-size: 16px; 
    margin-right: 10px; 
}

header input[type="text"] {
    padding: 5px 10px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    width: 100%;
    outline: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 30px;
}

header button {
    padding: 5px 15px; 
    font-size: 14px; 
    background-color: #666; 
    border: none; 
    color: white; 
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 30px;

}

header button:hover {
    background-color: #555;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 230px;
    margin-bottom: 30px;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.imgContainer  img{
    max-width: 90%;
    margin: 0 auto;
}

.infs {
    margin-top: 20px;
}

.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.name {
    margin: 15px 0 7px;
    letter-spacing: 1.5px;
}

.up-arrow {
    position: fixed;
    right: 2%;
    bottom: 5%;
    background-color: #333;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #fff;
}

@media screen and (max-width: 500px){
    header {
        flex-direction: column;
    }

    .title h1 {
        font-size: 20px;
    }

    .pokeContainer {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .pokemon {
        width: 280px;
    }
}

@media screen and (max-width: 320px){

}